<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        * {
            padding: 0;
            margin: 0;
        }

        body {
            height: 200vh;
        }

        img {
            width: 100%;
            height: 100%;
        }

        .mainImage {
            height: 420px;
        }

        .header {
            background-color: #ff8e51;
            font-size: 50px;
            text-align: center;
            color: #fff;
            padding: 15px;
        }

        .content {
            padding: 0 100px;
        }


        .detailbox {
            display: flex;
            width: 80%;
            margin-top: 10px;
        }

        .detailbox span {
            width: 50%;
        }

        .f-red {
            color: #d64b00;
            font-size: 30px;
            font-weight: 600;
        }

        .m-60 {
            margin-top: 60px;
        }

        .m-30 {
            margin-top: 40px;
        }

        .f-40 {
            font-size: 40px;
        }

        .detailbox span {
            font-size: 26px;
        }
    </style>
</head>

<body>
    <div class="header">
        Pinnacle Registration
    </div>
    <div class="mainImage">
        <img src="http://localhost:8000/images/Pinnaclelogo.png" alt="">
    </div>


    <div class="content">
        <div class="f-red">College and Event Leader Information</div>

        <div class="detailbox">
            <span>College Name</span>
            <span>
                <%=data.CollegeName%>
            </span>
        </div>
        <div class="detailbox">
            <span>Email</span>
            <span>
                <%=data.Email%>
            </span>
        </div>
        <div class="detailbox">
            <span>IT Manager Name</span>
            <span>
                <%=data.ITManagerName%>
            </span>
        </div>

        <div class="f-red m-60 f-40">Event Participants Details</div>
        <div class="f-red m-30 ">Web Design</div>
        <div class="detailbox">
            <span>
                <%=data.WebDesign.Name%>
            </span>
            <span>
                <%=data.WebDesign.Phone%>
            </span>
        </div>
        <div class="f-red m-30 ">Coding</div>
        <div class="detailbox">
            <span>
                <%=data.Coding.Name%>
            </span>
            <span>
                <%=data.Coding.Phone%>
            </span>
        </div>
        <div class="f-red m-30 ">Gaming</div>
        <div class="detailbox">
            <span>
                <%=data.Gaming.Name%>
            </span>
            <span>
                <%=data.Gaming.Phone%>
            </span>
        </div>
        <div class="f-red m-30 ">ITQuiz</div>
        <div class="detailbox">
            <span>
                <%=data.ITQuiz.Name%>
            </span>
            <span>
                <%=data.ITQuiz.Phone%>
            </span>
        </div>
        <div class="f-red m-30 ">Thema Dance</div>
        <div class="detailbox">
            <span>
                <%=data.ThemaDance.Name%>
            </span>
            <span>
                <%=data.ThemaDance.Phone%>
            </span>
        </div>
        <div class="f-red m-30 ">Paper Presentation</div>
        <div class="detailbox">
            <span>
                <%=data.PaperPresentation.Name%>
            </span>
            <span>
                <%=data.PaperPresentation.Phone%>
            </span>
        </div>
        <div class="f-red m-30 ">Surprise Event</div>
        <div class="detailbox">
            <span>
                <%=data.SurpriseEvent.Name%>
            </span>
            <span>
                <%=data.SurpriseEvent.Phone%>
            </span>
        </div>
        <div class="f-red m-30 ">PhotoGraphy and VideoGraphy</div>
        <div class="detailbox">
            <span>
                <%=data.PhotoGraphyAndVideoGraphy.Name%>
            </span>
            <span>
                <%=data.PhotoGraphyAndVideoGraphy.Phone%>
            </span>
        </div>
        <div class="f-red m-30 ">IT Manager</div>
        <div class="detailbox">
            <span>
                <%=data.ITManager.Name%>
            </span>
            <span>
                <%=data.ITManager.Phone%>
            </span>
        </div>
        <div class="f-red m-30 ">Product Launch</div>
        <div class="detailbox">
            <span>
                <%=data.ProductLaunch.Name%>
            </span>
            <span>
                <%=data.ProductLaunch.Phone%>
            </span>
        </div>

    </div>
</body>

</html>